venv/

.DS_Store

__pycache

*.pyc

!**/glob-import/dir/node_modules
.DS_Store
.idea
.pnpm-store
*.cpuprofile
*.local
*.log
/.vscode/
/docs/.vitepress/cache
/packages/vite/LICENSE
dist
dist-ssr
explorations
node_modules
playground-temp
temp
TODOs.md
.eslintcache

.env
model.keras
sample.csv
sample.json
test.ipynb
test.png
export/fingerprint.pb
export/saved_model.pb
export/variables/variables.data-00000-of-00001
export/variables/variables.index
